<div class="divider text-center">
	<svg width="238" height="1" viewBox="0 0 238 1" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path opacity="0.1" d="M0 0H238V1H0V0Z" fill="#E9EEF9" />
	</svg>
</div>
