<div class="user-data flex items-center">
    <div class="user-image"><i class="bi bi-person-fill"></i></div>
    <div class="info flex flex-column">
        <span class="name">@NomeUtente</span>
		<span class="role">@RuoloUtente</span>
    </div>
</div>