<div class="grid-top-panel d-flex py-2 justify-content-between align-items-end">
    <div class="d-flex flipping-overflow-container">
        @Tabs
    </div>

    @if (Filters != null)
	{
        <div class="d-flex align-items-end">
            <ul class="filter-form">
                @Filters
            </ul>

            <DxTextBox ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" TextChanged="OnSearchTextChange" BindValueMode="BindValueMode.OnDelayedInput" NullText="Cerca" CssClass="sc-search-box mx-2" />
            <SCButton RenderStyle="Primary" Icon="bi bi-funnel-fill" OnClick="@(() => ToggleFilter())" />
            <SCButton RenderStyle="Primary" Icon="bi bi-file-earmark-arrow-up" />
        </div>
    }
    else
    {
        @Content
    }
    
</div>


