@page "/"
<PageTitle>Welcome</PageTitle>

<div class="main-content">
    <SCLayoutColumns Subtitle="Layout con Card (colonne 2+1+1+1)">
        <SCInnerColumn ColumnWidth2>
            <SCCard Classes="card-alt"
                    Category="Documenti"
                    Title="Archivio Fir"
                    Text=">Hai bisogno di visionare rapidamente i tuoi documenti?"
                    Link="#"
                    LinkText="Visualizzali tutti"
                    Icon="bi bi-airplane-fill">
            </SCCard>
        </SCInnerColumn>
        <SCInnerColumn ColumnWidth1>
            <SCCard Title="Titolo Card" Text="Con icona" Icon="icon-weight" />
        </SCInnerColumn>
        <SCInnerColumn ColumnWidth1>
            <SCCard Title="Titolo Card" Text="Con icona" Icon="bi-alarm"></SCCard>
        </SCInnerColumn>
        <SCInnerColumn ColumnWidth1>
            <SCCard Title="Titolo Card" Text="Testo full h"></SCCard>
        </SCInnerColumn>
    </SCLayoutColumns>
</div>